<% content_for :head do %>
  <meta property="og:url"           content="http://www.jwade.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Jeremy Wade" />
  <meta property="og:description"   content="Social Entrepreneur | Educator | Web Developer | Consultant" />
  <meta property="og:image"         content="<%=asset_url('headpic1.jpg') %>" />
  <meta property="og:image:width"   content="600" /> 
  <meta property="og:image:height"  content="541" />
  <meta property="fb:app_id"        content="1535582636740127" />
<% end %>
<body class="page">
 <div class="container">
        <div id="oi_container" class="container">
            <div class="row">
                <div class="oi_blocks_block_holder col-md-6">
                    <div class="post type-post status-publish format-standard sticky hentry category-inspiration category-events tag-design tag-news oi_post oi_blocks_post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="oi_post_holder">
                                    <div class="oi_blog_post_data_holder">
                                    </div>
                                    <div class="oi_blog_post_title_holder">
                                        <h2 class="oi_legend blog_title"><a class="blog_title_a" href="test-post-2.html">Best Coffee + Coworking</a></h2>
                                    </div>
                                    <div class="oi_blog_post_content_holder">
                                        <div>
                                            In our 2014 Roadmap, one of our goals for the year was to review the financial tools our Envato Market platform provides. We started this project by improving statements earlier in the year, and more recently clarifying our business model and the financial flows.
                                        </div>
                                        <div class="oi_readmore_btn_holder">
                                            <%= link_to "Continue Reading", "#{root_path}#Coffee", :class => "btn btn-primary btn-filledhome" %>
                                        </div>
                                    </div>
                                    <div class="oi_blog_post_cat_holder">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oi_blocks_block_holder col-md-6">
                    <div class="post type-post status-publish format-status hentry category-events oi_post oi_blocks_post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="oi_post_holder">
                                    <div class="oi_blog_post_data_holder">
                                    </div>
                                    <div class="oi_blog_post_title_holder">
                                        <h2 class="oi_legend blog_title"><a class="blog_title_a" href="oh-fk-im-going-to-vacation.html">Best Nightlife</a></h2>
                                    </div>
                                    <div class="oi_blog_post_content_holder">
                                        <div>
                                            Hola! I will be not available 2 next week's.
                                            <!--more-->
                                             Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                                        </div>
                                        <div class="oi_readmore_btn_holder">
                                           <%= link_to "Continue Reading", "#{root_path}#nightlife", :class => "btn btn-primary btn-filledhome" %>
                                        </div>
                                    </div>
                                    <div class="oi_blog_post_cat_holder">
                                    </div> 
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="oi_container" class="container oi_inner" id="coffee">
        <!-- Content Area -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="blog_item inner_post_holder">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="oi_post_holder">
                                <div class="oi_blog_post_data_holder">
                                    <span class="oi_ddate">October 5, 2014 at 11:43 am</span>
                                </div>
                                <div class="oi_blog_post_title_holder">
                                    <h1 class="oi_legend blog_title">Best Coffee + Coworking</h1>
                                </div>
                                <div class="oi_blog_post_content_holder">
                                    <p>
                                        In our 2014 Roadmap, one of our goals for the year was to review the financial tools our Envato Market platform provides. We started this project by improving statements earlier in the year, and more recently clarifying our business.
                                    </p>
                                    <p>
                                        <img class="alignleft" src="http://placehold.it/300x205" alt="Blog_image_4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.
                                    </p>
                                    <blockquote>
                                        <p>
                                            Hi there! I’m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin’ caught in the rain.)
                                        </p>
                                    </blockquote>
                                    <p>
                                        …or something like this:
                                    </p>
                                    <blockquote>
                                        <p>
                                            The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.
                                        </p>
                                    </blockquote>
                                    <pre>
.post-title { 
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
}
                                    </pre>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    </p>
                                </div>
                                <div class="oi_blog_post_cat_holder">
                                    <span class="oi_blog_post_cat"><a title="" class="oi_add_post_like" href="#"><strong><i class="fa fa-heart-o"></i></strong></a> <span class="oi_like_post_count">20 </span> likes</span>
                                    <span class="oi_blog_post_cat"><i class="fa fa-folder-o"></i><a href="inspiration.html" rel="category tag">Inspiration</a> , <a href="events.html" rel="category tag">My Events</a></span>
                                    <span class="oi_blog_post_cat"># <a href="#" rel="tag">Design</a>, <a href="#" rel="tag">News</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="oi_soc_header oi_single_post_share">
                                <span class="oi_share_text">Share: </span>
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://themes.foxsash.com/blg/test-post-2.html" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>/ 
                                <a href="http://www.facebook.com/sharer.php?u=http://themes.foxsash.com/blg/test-post-2.html" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>/ 
                                <a href="https://twitter.com/share?url=http://themes.foxsash.com/blg/test-post-2.html" title="Facebook" target="_blank"><i class="fa fa-twitter"></i></a>/ 
                                <a href="https://plus.google.com/share?url=http://themes.foxsash.com/blg/test-post-2.html" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                            
          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div id="oi_container" class="container oi_inner">
        <!-- Content Area -->
        <div class="row">
            <div class="col-md-12 ">
                <div class="blog_item inner_post_holder">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="oi_post_holder">
                                <div class="oi_blog_post_data_holder">
                                    <span class="oi_ddate">October 5, 2014 at 11:43 am</span>
                                </div>
                                <div class="oi_blog_post_title_holder">
                                    <h1 class="oi_legend blog_title">This is sticky post</h1>
                                </div>
                                <div class="oi_blog_post_content_holder">
                                    <p>
                                        In our 2014 Roadmap, one of our goals for the year was to review the financial tools our Envato Market platform provides. We started this project by improving statements earlier in the year, and more recently clarifying our business.
                                    </p>
                                    <p>
                                        <img class="alignleft" src="http://placehold.it/300x205" alt="Blog_image_4">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of “de Finibus Bonorum et Malorum” (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, “Lorem ipsum dolor sit amet..”, comes from a line in section 1.10.32.
                                    </p>
                                    <blockquote>
                                        <p>
                                            Hi there! I’m a bike messenger by day, aspiring actor by night, and this is my blog. I live in Los Angeles, have a great dog named Jack, and I like piña coladas. (And gettin’ caught in the rain.)
                                        </p>
                                    </blockquote>
                                    <p>
                                        …or something like this:
                                    </p>
                                    <blockquote>
                                        <p>
                                            The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.
                                        </p>
                                    </blockquote>
                                    <pre>
.post-title { 
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.2;
}
                                    </pre>
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                    </p>
                                </div>
                                <div class="oi_blog_post_cat_holder">
                                    <span class="oi_blog_post_cat"><a title="" class="oi_add_post_like" href="#"><strong><i class="fa fa-heart-o"></i></strong></a> <span class="oi_like_post_count">20 </span> likes</span>
                                    <span class="oi_blog_post_cat"><i class="fa fa-folder-o"></i><a href="inspiration.html" rel="category tag">Inspiration</a> , <a href="events.html" rel="category tag">My Events</a></span>
                                    <span class="oi_blog_post_cat"># <a href="#" rel="tag">Design</a>, <a href="#" rel="tag">News</a></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="oi_soc_header oi_single_post_share">
                                <span class="oi_share_text">Share: </span>
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://themes.foxsash.com/blg/test-post-2.html" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>/ 
                                <a href="http://www.facebook.com/sharer.php?u=http://themes.foxsash.com/blg/test-post-2.html" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>/ 
                                <a href="https://twitter.com/share?url=http://themes.foxsash.com/blg/test-post-2.html" title="Facebook" target="_blank"><i class="fa fa-twitter"></i></a>/ 
                                <a href="https://plus.google.com/share?url=http://themes.foxsash.com/blg/test-post-2.html" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a>
                            </div>
                            
          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
   
        <div class="clearfix"></div>
            </div> <div class="clearfix"></div>
            <div class="oi_footer">
                <div class="row">
                    <div class="col-md-12">
                         Copyright © 2017. Delhi Curated
                    </div>
                </div>
            </div>
        </div>
    </div>
