 
        <div class="oi_head_holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 text-right">
                        <div class="oi_left_text_area oi_fadex">
                            <h1 class="oi_legend"></h1>
                            <h3 class="oi_sub_legend"></h3>
                        </div>
                    </div>
                    <div class="col-xs-12 text-center">
                        <!-- logo -->
                        <div class="oi_logo_place">
                            <%= link_to root_path do %>
                                    <%= image_tag('delhicurated.png', class: 'logo', alt: 'delhicurated') %>
                                <% end %>
                        </div>
                        <!-- .logo -->
                    </div>
                         
                        </div>
                    </div>
    